:root {
	--shadow-black-1: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
	--shadow-black-2: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
	--shadow-black-3: 0 12.5px 10px rgba(0, 0, 0, 0.06);
	--shadow-black-4: 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
	--shadow-black-5: 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
	--shadow-black-6: 0 100px 80px rgba(0, 0, 0, 0.12);
	--shadow-green: 0px 15px 20px rgba(46, 229, 157, 0.4);

	--background-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	--almost-white-color: rgba(223, 241, 234, 0.842);
	--lightblue-color: rgb(12, 170, 157);
	--lightgreen-color: #2ee59d;
	--grey-faded-color: rgba(189, 185, 185, 0.9);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
	padding: 10px 60px;
	background: var(--background-gradient);
	background-size: 400% 400%;
	background-position: 0% 50%;

	animation-name: moving-gradient;
	animation-duration: 15s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
}

.animate-gradient {
	animation-play-state: running;
}

#stopwatch {
	margin: 70px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: var(--almost-white-color);
	font-size: 50px;
	font-weight: 700;
}

#buttons {
	margin: 30px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}

.icon-button {
	outline: none;
	padding: 15px;
	margin: 0px 15px;
	border: 1px solid transparent;
	border-radius: 50%;
	color: white;
	transition: all 0.3s ease-in-out;

	box-shadow: var(--shadow-black-1), var(--shadow-black-2), var(--shadow-black-3),
		var(--shadow-black-4), var(--shadow-black-5), var(--shadow-black-6);
}

.icon-button:not([disabled]) {
	cursor: pointer;
	background-color: var(--lightblue-color);
}

.icon-button:not([disabled]):hover {
	background-color: var(--lightgreen-color);
	transform: translateY(-5px);

	box-shadow: var(--shadow-black-1), var(--shadow-black-2), var(--shadow-black-3),
		var(--shadow-black-4), var(--shadow-black-5), var(--shadow-black-6),
		var(--shadow-green);
}

.icon-button:not([disabled]):active {
	box-shadow: var(--shadow-black-1) inset, var(--shadow-black-2) inset,
		var(--shadow-black-3) inset, var(--shadow-black-4) inset,
		var(--shadow-black-5) inset, var(--shadow-black-6) inset;
}

.icon-button[disabled] {
	cursor: context-menu;
	background-color: var(--grey-faded-color);
}

#laps {
	height: 40%;
	margin: 70px auto;
	background: linear-gradient(to right, #ffefba, #ffffff);
	box-shadow: var(--shadow-black-1), var(--shadow-black-2), var(--shadow-black-3),
		var(--shadow-black-4), var(--shadow-black-5), var(--shadow-black-6);

	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		'b b e c c'
		'b b e c c'
		'h h h c c'
		'h h h c c';
}

.header {
	grid-area: h;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .heading {
	font-size: 30px;
	font-family: 'Trebuchet MS';
	background: -webkit-linear-gradient(#0f0c29, #302b63, #24243e);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lap-buttons {
	grid-area: b;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	grid-area: c;
	overflow-y: scroll;
	overflow-x: none;
	text-align: center;

	box-shadow: var(--shadow-black-1), var(--shadow-black-2), var(--shadow-black-3),
		var(--shadow-black-4), var(--shadow-black-5), var(--shadow-black-6);
}

.content .item {
	font-size: 20px;
	font-weight: 600;
	font-family: monospace;
	background: -webkit-linear-gradient(#fdc830, #f37335);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation-name: slide-right;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	padding: 10px auto;
}

.lap-button {
	outline: none;
	cursor: pointer;
	padding: 15px;
	margin: 0px 15px;
	border: 1px solid transparent;
	border-radius: 50%;
	color: white;
	background-color: var(--lightblue-color);
	transition: all 0.3s ease-in-out;
	box-shadow: var(--shadow-black-1), var(--shadow-black-2), var(--shadow-black-3),
		var(--shadow-black-4), var(--shadow-black-5), var(--shadow-black-6);
}

.lap-button:hover {
	background-color: var(--lightgreen-color);

	box-shadow: var(--shadow-black-1), var(--shadow-black-2), var(--shadow-black-3),
		var(--shadow-black-4), var(--shadow-black-5), var(--shadow-black-6),
		var(--shadow-green);
}

.lap-button:active {
	box-shadow: var(--shadow-black-1) inset, var(--shadow-black-2) inset,
		var(--shadow-black-3) inset, var(--shadow-black-4) inset,
		var(--shadow-black-5) inset, var(--shadow-black-6) inset;
}

@keyframes moving-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}
